@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap%27');

body{
    font-family: Quicksand, sans-serif;
    background-color: #11264b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    color: white;
    margin: 50px;
    padding:20px;
    border-radius: 37px;
    background: #11264b;
    box-shadow:  5px 5px 10px #071121,
                -5px -5px 10px #1b3b75;
}

.div_out{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div_square{
    margin: 10px;
    padding: 30px;
    color: white;
    border-radius: 13px;
    background: #11264b;
    box-shadow:  11px 11px 10px #071121,
    -11px -11px 10px #1b3b75;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div_setup{
    display: inline-block;
    vertical-align: baseline;
    width: 200px;
}

.error{
    position: absolute;
    padding-left: 40px;
    padding-right: 40px;
    top: 50%;
    left: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
    border-radius: 13px;
    background: linear-gradient(145deg, #122950, #0f2244);
    box-shadow:  10px 10px 20px #0a172e,
    -10px -10px 20px #183568;
}

.hide{
    display:none;
}

input{
    color: white;
    border-radius: 37px;
    background: #11264b;
    box-shadow: inset 5px 5px 10px #071121,
    inset -5px -5px 10px #1b3b75;
}

.min_btn{
    margin: 10px;
    color: white;
    border-radius: 37px;
    background: #11264b;
    box-shadow:  5px 5px 10px #071121,
                -5px -5px 10px #1b3b75;
}

.output{
    margin: 30px;
    height: 150px;
    width: 600px;
    resize: none;
}

.tip{
    margin-top: 15px;
    font-size: 10px;
}